<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content {
            display: inline-block;
            background-color: lightblue;
            padding: 10px;
        }

        .content .message {
            background-color: lightgoldenrodyellow;
            width: 30%;
        }
    </style>
</head>

<body>
    <div class="content">
        <div class="message">
            你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。你好，世界。
        </div>
    </div>
</body>

</html>